/* nav bar*/

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    height: 80px;
    background-color: #009900;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
}

.ayif_logo {
    max-width: 250px;
    padding: 0 10px;
    overflow: hidden;
}

.ayif_logo a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 80px;
}

.ayif_img {
    max-width: 100%;
    max-height: 2500px;
}

.nav_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 10px;
}

#nav_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav_link {
    text-decoration: none;
    color: black;
    font-size: 15px;
    text-transform: uppercase;
    display: block;
    height: 80px;
    line-height: 80px;
    cursor: pointer;
    padding: 0 10px;
}

.nav_link:hover {
    color: black;
    background-color: #006600;
}

.nav_menu .close {
    display: none;
    text-align: right;
    padding: 10px;
}

.nav_menu .close span {
    font-size: 40px;
    display: inline-block;
    border: 1px solid #cccccc;
    padding: 0 10px;
    cursor: pointer;
}

.nav_container .icon_bar i {
    background-color: #ffffff;
    height: 2px;
}

@media only screen and (max-width: 650px) {
    nav {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    nav .ayif_logo {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
    nav .nav_container {
        -webkit-box-flex: 0;
        -ms-flex: 0;
        flex: 0;
    }
    .container .nav_container ul {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        position: fixed;
        left: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        background: #ffffff;
        width: 100%;
        height: 100%;
        overflow: auto;
        -webkit-transition: left .3s;
        -o-transition: left .3s;
        transition: left .3s;
    }
    .container .nav_container ul li a {
        padding: 10px;
        font-size: 16px;
        height: auto;
        line-height: normal;
        color: #555555;
    }
    .container .nav_container ul .close {
        display: block;
    }
    .container .nav_container .icon-bar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .container .nav_container ._Menus-show {
        left: 0;
    }
}